name: Update profile

on:
  push:
    branches: [main]
    paths: [".github/skills.toml"]
  pull_request:
    branches: [main]
    paths: [".github/skills.toml"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - run: python3 .github/update-profile.py

      - uses: boidolr/actions/git-push@main
        with:
          branch: main
          message: "chore: update readme"
